{% extends 'index.html' %}
{% load inventory_tags %}
{% block content %}
<div class="card mb-3">
    <div class="card-header">
      <div class="row align-items-center justify-content-between">
        <div class="col-6 col-sm-auto d-flex align-items-center pr-0">
          <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Vehicle Inventory</h5>
        </div>
        <div class="col-6 col-sm-auto ml-auto text-right pl-0">
          <div class="d-none" id="purchases-actions">
            <div class="input-group input-group-sm">
              <select class="custom-select cus" aria-label="Bulk actions">
                <option selected="">Bulk actions</option>
                <option value="Refund">Refund</option>
                <option value="Delete">Delete</option>
                <option value="Archive">Archive</option>
              </select>
              <button class="btn btn-falcon-default btn-sm ml-2" type="button">Apply</button>
            </div>
          </div>
          <div id="dashboard-actions">
            <button class="btn btn-falcon-default btn-sm" type="button" onclick="addNewVehicle()"><span class="fas fa-plus" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">New</span></button>
            <button class="btn btn-falcon-default btn-sm mx-2" type="button"><span class="fas fa-filter" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Filter</span></button>
            <button class="btn btn-falcon-default btn-sm" type="button"><span class="fas fa-external-link-alt" data-fa-transform="shrink-3 down-2"></span><span class="d-none d-sm-inline-block ml-1">Export</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body px-0 pt-0">
      <div class="dashboard-data-table">
        <table class="table table-sm table-dashboard fs--1 data-table border-bottom" data-options='{"responsive":false,"pagingType":"simple","lengthChange":false,"searching":false,"pageLength":8,"columnDefs":[{"targets":[0,6],"orderable":false}],"language":{"info":"_START_ to _END_ Items of _TOTAL_ — <a href=\"#!\" class=\"font-weight-semi-bold\"> view all <span class=\"fas fa-angle-right\" data-fa-transform=\"down-1\"></span> </a>"},"buttons":["copy","excel"]}'>
          <thead class="bg-200 text-900">
            <tr>
              <th class="no-sort pr-1 align-middle data-table-row-bulk-select">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input checkbox-bulk-select" id="checkbox-bulk-purchases-select" type="checkbox" data-checkbox-body="#purchases" data-checkbox-actions="#purchases-actions" data-checkbox-replaced-element="#dashboard-actions" />
                  <label class="custom-control-label" for="checkbox-bulk-purchases-select"></label>
                </div>
              </th>
              <th class="sort pr-1 pl-1 align-middle">Serial #</th>
              <th class="sort pr-1 pl-1 align-middle">Arrived On</th>
              {% for attribute in attributes %}
                <th class="sort pr-1 pl-1 align-middle">{{attribute.desc}}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody id="purchases">
            {% for vehicle in vehicleList %}
            <tr>
              <td class="align-middle">
                <div class="custom-control custom-checkbox">
                  <input class="custom-control-input checkbox-bulk-select-target" type="checkbox" id="checkbox-vehicle-{{vehicle.pk}}"/>
                  <label class="custom-control-label" for="checkbox-vehicle-{{vehicle.pk}}"></label>
                </div>
              </td>
              <td><a href="" data-toggle="modal" data-target="#viewVehicleModal" onclick="loadModalData('{{vehicle.pk}}')">{{vehicle.serial}}</a></td>
              <td>{{vehicle.arrived_on}}</td>
              {% for attribute in vehicle|attribute_list:vehicle.pk %}
                {% if attribute|is_visible:attribute.pk %}
                  <td>{{attribute|return_attribute_value:attribute.pk}}</td>
                {% endif %}
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <footer>
    <div class="row no-gutters justify-content-between fs--1 mt-4 mb-3">
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-600">Thank you for creating with Falcon <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> 2021 &copy; <a href="https://themewagon.com">Themewagon</a></p>
      </div>
      <div class="col-12 col-sm-auto text-center">
        <p class="mb-0 text-600">v2.8.1</p>
      </div>
    </div>
  </footer>
{% endblock %}

{% block modals %}
<div class="modal fade" id="viewVehicleModal" tabindex="-1" role="dialog" aria-labelledby="viewVehicleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="viewVehicleModalLabel">Modal Title</h5><button class="close" type="button" data-dismiss="modal" aria-label="Close"><span class="font-weight-light" aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <div class="card mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0">Default Details</h5>
              </div>
            </div>
          </div>
          <div class="card-body bg-light border-top">
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-semi-bold mb-1">Serial #</p>
              </div>
              <div class="col-sm-auto">
                <p class="mb-1" id="serial"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-semi-bold mb-1">Arrived on</p>
              </div>
              <div class="col-sm-auto">
                <p class="mb-1" id="arrived-on"></p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-semi-bold mb-1">Created on</p>
              </div>
              <div class="col-sm-auto">
                <p class="mb-1" id="created-on"></p>
              </div>
            </div>
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0">Custom Details</h5>
              </div>
            </div>
          </div>
          <div class="card-body bg-light border-top">
            {% for attribute in allAttributes %}
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-semi-bold mb-1">{{attribute.desc}}</p>
              </div>
              <div class="col-sm-auto">
                <p class="mb-1" id="attribute-{{attribute.pk}}"></p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="card mb-3">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col">
                <h5 class="mb-0">Vehicle Location</h5>
              </div>
              <div class="col-sm-auto">
                <button class="btn btn-falcon-default btn-sm" style="display: none;" id="save-location-btn" onclick="updateLocation()"><span class="fas fa-save fs--2 mr-1"></span>Update Location</button>
              </div>
            </div>
          </div>
          <div class="card-body bg-light border-top">
            <div class="row">
              <div class="col-sm-6">
                <p class="font-weight-semi-bold mb-1">Location Name</p>
              </div>
              <div class="col-sm-auto">
                <div class="form-group">
                  <select class="form-control" id="locationSelect" onchange="showSaveLocationBtn()">
                    <option value="0">Set a location for this vehicle</option>
                    {% for location in allLocations %}
                    <option value="{{location.pk}}">{{location.name}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            </br>
            <div id="locationMap" class="shadow rounded" style="height: 300px;"></div>
          </div>
        </div>
      </div>
      <div class="modal-footer"><button class="btn btn-primary btn-sm" type="button">Modify Entries</button></div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script>
    var mymap = L.map('locationMap');
    var selectedVehicle = "0";
    var vehicleLocation = "0";
    var marker;
    mymap.setView([45.5017, -73.5673], 13);
    L.tileLayer('https://tiles.stadiamaps.com/tiles/alidade_smooth/{z}/{x}/{y}{r}.png?api_key=4cf051cf-1bdd-4d05-af8e-41f5006c775a', {
      maxZoom: 20,
      attribution: '&copy; <a href="https://stadiamaps.com/">Stadia Maps</a>, &copy; <a href="https://openmaptiles.org/">OpenMapTiles</a> &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors'
    }).addTo(mymap);

    $('#viewVehicleModal').on('shown.bs.modal', function(){
        mymap.invalidateSize();
    });
    
    function updateLocation() {
      var locationSelect = document.getElementById("locationSelect")
      if (locationSelect.value == 0) {
        alert("You can't unset a location for a vehicle.")
        document.getElementById("save-location-btn").style = "display:none;";
        locationSelect.value = vehicleLocation;
      }
      else {
        $.ajax({
        url: "{% url 'get-location-properties' %}",
        data: {
          'location_pk': locationSelect.value,
          'vehicle_pk': selectedVehicle,
        },
        dataType: 'json',
        success: function(data) {
          mymap.setView([data['lat'], data['long']], 13);
          if (marker == null) {
            marker = L.marker([data['lat'], data['long']])
            mymap.addLayer(marker);
          }
          else {
            mymap.removeLayer(marker);
            marker = L.marker([data['lat'], data['long']])
            mymap.addLayer(marker);
          }
          document.getElementById("save-location-btn").style = "display:none;";
          vehicleLocation = locationSelect.value
        },
        error: function(data) {
            alert("Uh-oh");
        }
      });
      }
    }

    function showSaveLocationBtn() {
      var saveBtn = document.getElementById("save-location-btn");
      saveBtn.style = "display:block;";
    }

    function addNewVehicle() {
        window.location.href = "{% url 'add-vehicle-view' %}";
    }

    function loadModalData(vehicle_pk) {
      selectedVehicle = vehicle_pk;
      $.ajax({
        url: "{% url 'get-vehicle-properties' %}",
        data: {
          'vehicle_pk': vehicle_pk,
        },
        dataType: 'json',
        success: function(data) {
          var serialNumber = document.getElementById("serial");
          serialNumber.innerHTML = data['serial'];
          var arrivedOn = document.getElementById("arrived-on");
          arrivedOn.innerHTML = data['arrived_on'];
          var createdOn = document.getElementById("created-on");
          createdOn.innerHTML = data['date_added'];
          var location = document.getElementById("locationSelect");
          location.value = data['location_pk'];
          vehicleLocation = data['location_pk'];
          mymap.setView([data['lat'], data['long']], 13);
          if (marker == null) {
            marker = L.marker([data['lat'], data['long']])
            mymap.addLayer(marker);
          }
          else {
            mymap.removeLayer(marker);
            marker = L.marker([data['lat'], data['long']])
            mymap.addLayer(marker);
          }
        },
        error: function(data) {
            alert("Uh-oh");
        }
      });
      $.ajax({
        url: "{% url 'get-attribute-values' %}",
        data: {
          'vehicle_pk': vehicle_pk,
        },
        dataType: 'json',
        success: function(data) {
          for (attribute in data) {
            var modalElement = document.getElementById("attribute-" + attribute);
            modalElement.innerHTML = data[attribute];
          }
        },
        error: function(data) {
            alert("Uh-oh");
        }
      });
    }
</script>
{% endblock %}