<!DOCTYPE html>
{% load static %}
<html lang="en-US" dir="ltr">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- ===============================================-->
    <!--    Document Title-->
    <!-- ===============================================-->
    <title>Falcon | Dashboard &amp; WebApp Template</title>


    <!-- ===============================================-->
    <!--    Favicons-->
    <!-- ===============================================-->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicons/favicon.ico' %}">
    <link rel="manifest" href="{% static 'img/favicons/manifest.json' %}">
    <meta name="msapplication-TileImage" content="{% static 'img/favicons/mstile-150x150.png' %}">
    <meta name="theme-color" content="#ffffff">


    <!-- ===============================================-->
    <!--    Stylesheets-->
    <!-- ===============================================-->
    <script src="{% static 'js/config.navbar-vertical.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="">
    <link href="{% static 'lib/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables-bs4/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
    <link href="{% static 'lib/datatables.net-responsive-bs4/responsive.bootstrap4.css' %}" rel="stylesheet">
    <link href="{% static 'lib/leaflet/leaflet.css' %}" rel="stylesheet">
    <link href="{% static 'lib/leaflet.markercluster/MarkerCluster.css' %}" rel="stylesheet">
    <link href="{% static 'lib/leaflet.markercluster/MarkerCluster.Default.css' %}" rel="stylesheet">
    <link href="{% static 'css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'lib/flatpickr/flatpickr.min.css' %}" rel="stylesheet">

  </head>


  <body>

    <!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    <main class="main" id="top">


      <div class="container" data-layout="container">
        <nav class="navbar navbar-vertical navbar-expand-xl navbar-light">
          <div class="d-flex align-items-center">
            <div class="toggle-icon-wrapper">

              <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-toggle="tooltip" data-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>

            </div><a class="navbar-brand" href="{% url 'dashboard' %}">
              <div class="d-flex align-items-center py-3"><span class="text-sans-serif">Autotracks</span>
              </div>
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarVerticalCollapse">
            <div class="navbar-vertical-content perfect-scrollbar scrollbar">
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#home" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="home">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-chart-pie"></span></span><span class="nav-link-text">Home</span>
                    </div>
                  </a>
                  <ul class="nav collapse{{homeShow}}" id="home" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item{{dashboardActive}}"><a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="home/dashboard-alt.html">Dashboard alt</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="home/feed.html">Feed</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="home/landing.html">Landing</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#pages" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="pages">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-copy"></span></span><span class="nav-link-text">Inventory</span>
                    </div>
                  </a>
                  <ul class="nav collapse{{inventoryShow}}" id="pages" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item{{viewInventoryActive}}"><a class="nav-link" href="{% url 'view-inventory' %}">View Inventory</a></li>
                    <li class="nav-item{{addVehicleActive}}"><a class="nav-link" href="{% url 'add-vehicle' %}">Add Inventory</a></li>
                    <li class="nav-item"><a class="nav-link" href="pages/activity.html">Delete Inventory</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="chat.html">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-comments"></span></span><span class="nav-link-text"> Chat</span>
                    </div>
                  </a></li>
                <li class="nav-item"><a class="nav-link" href="kanban.html">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fab fa-trello"></span></span><span class="nav-link-text"> Kanban</span>
                    </div>
                  </a></li>
                <li class="nav-item"><a class="nav-link" href="calendar.html">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-calendar-alt"></span></span><span class="nav-link-text"> Calendar</span>
                    </div>
                  </a></li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#email" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="email">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-envelope-open"></span></span><span class="nav-link-text">Email</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="email" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="email/inbox.html">Inbox</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="email/email-detail.html">Email detail</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="email/compose.html">Compose</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#authentication" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-unlock-alt"></span></span><span class="nav-link-text">Authentication</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="authentication" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link dropdown-indicator" href="#authentication-basic" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication-basic">Basic</a>
                      <ul class="nav collapse" id="authentication-basic" data-parent="#authentication">
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/login.html">Login</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/logout.html">Logout</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/register.html">Register</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/forgot-password.html">Forgot password</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/reset-password.html">Reset password</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/confirm-mail.html">Confirm mail</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/basic/lock-screen.html">Lock screen</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link dropdown-indicator" href="#authentication-card" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication-card">Card</a>
                      <ul class="nav collapse" id="authentication-card" data-parent="#authentication">
                        <li class="nav-item"><a class="nav-link" href="authentication/card/login.html">Login</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/card/logout.html">Logout</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/card/register.html">Register</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/card/forgot-password.html">Forgot password</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/card/reset-password.html">Reset password</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/card/confirm-mail.html">Confirm mail</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/card/lock-screen.html">Lock screen</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link dropdown-indicator" href="#authentication-split" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="authentication-split">Split</a>
                      <ul class="nav collapse" id="authentication-split" data-parent="#authentication">
                        <li class="nav-item"><a class="nav-link" href="authentication/split/login.html">Login</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/split/logout.html">Logout</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/split/register.html">Register</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/split/forgot-password.html">Forgot password</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/split/reset-password.html">Reset password</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/split/confirm-mail.html">Confirm mail</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="authentication/split/lock-screen.html">Lock screen</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="authentication/wizard.html">Wizard</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#!" data-toggle="modal" data-target="#authentication-modal">In Modal</a></li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#e-commerce" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="e-commerce">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-cart-plus"></span></span><span class="nav-link-text">E commerce</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="e-commerce" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="e-commerce/product-list.html">Product list</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/product-grid.html">Product grid</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/product-details.html">Product details</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/orders.html">Orders</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/order-details.html">Order details</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/customers.html">Customers</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/shopping-cart.html">Shopping cart</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="e-commerce/checkout.html">Checkout</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
              </div>
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link" href="widgets.html">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-poll"></span></span><span class="nav-link-text"> Widgets</span>
                    </div>
                  </a></li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#components" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="components">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-puzzle-piece"></span></span><span class="nav-link-text">Components</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="components" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="components/accordion.html">Accordion</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/alerts.html">Alerts</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/avatar.html">Avatar</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/background.html">Background</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/badges.html">Badges</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/breadcrumb.html">Breadcrumb</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/bulk-select.html">Bulk select</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/buttons.html">Buttons</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/cards.html">Cards</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/carousel.html">Carousel</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/collapse.html">Collapse</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/countup.html">Countup</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/dropdowns.html">Dropdowns</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/fancyscroll.html">Fancyscroll</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/fancytab.html">Fancytab</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/forms.html">Forms</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/hoverbox.html">Hoverbox</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/list-group.html">List group</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/modals.html">Modals</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/media-object.html">Media object</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/navs.html">Navs</a>
                    </li>
                    <li class="nav-item"><a class="nav-link dropdown-indicator" href="#components-navbar" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="components-navbar">Navbar</a>
                      <ul class="nav collapse" id="components-navbar" data-parent="#components">
                        <li class="nav-item"><a class="nav-link" href="components/navbar/default.html">Default</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="components/navbar/vertical.html">Vertical</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="components/navbar/top.html">Top</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="components/navbar/combo.html">Combo</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/cookie-notice.html">Cookie notice</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/page-headers.html">Page headers</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/pagination.html">Pagination</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/popovers.html">Popovers</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/progress.html">Progress</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/search.html">
                        <div class="d-flex align-items-center">Search<span class="badge badge-pill ml-2 badge-soft-success">New</span>
                        </div>
                      </a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/scrollspy.html">Scrollspy</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/sidepanel.html">Sidepanel</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/spinners.html">Spinners</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/tables.html">Tables</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/tabs.html">Tabs</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/toasts.html">Toasts</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="components/tooltips.html">Tooltips</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#utilities" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="utilities">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-fire"></span></span><span class="nav-link-text">Utilities</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="utilities" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="utilities/borders.html">Borders</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/clearfix.html">Clearfix</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/close-icon.html">Close icon</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/colors.html">Colors</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/display.html">Display</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/embed.html">Embed</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/figures.html">Figures</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/flex.html">Flex</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/grid.html">Grid</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/sizing.html">Sizing</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/spacing.html">Spacing</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/stretched-link.html">Stretched link</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/typography.html">Typography</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/vertical-align.html">Vertical align</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="utilities/visibility.html">Visibility</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#plugins" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="plugins">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-plug"></span></span><span class="nav-link-text">Plugins</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="plugins" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="plugins/bootstrap-wizard.html">Bootstrap wizard</a>
                    </li>
                    <li class="nav-item"><a class="nav-link dropdown-indicator" href="#plugins-charts" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="plugins-charts">Charts</a>
                      <ul class="nav collapse" id="plugins-charts" data-parent="#plugins">
                        <li class="nav-item"><a class="nav-link" href="plugins/charts/chart-js.html">Chart js</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="plugins/charts/echarts.html">Echarts</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/countdown.html">Countdown</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/data-table.html">Data table</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/date-picker.html">Date picker</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/draggable.html">Draggable</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/dropzone.html">Dropzone</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/emojionearea.html">Emojionearea</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/fancybox.html">Fancybox</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/fontawesome.html">Fontawesome</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/fullcalendar.html">Fullcalendar</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/inline-player.html">Inline player</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/jquery-validation.html">Jquery validation</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/lightbox.html">Lightbox</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/lottie.html">Lottie</a>
                    </li>
                    <li class="nav-item"><a class="nav-link dropdown-indicator" href="#plugins-map" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="plugins-map">Map</a>
                      <ul class="nav collapse" id="plugins-map" data-parent="#plugins">
                        <li class="nav-item"><a class="nav-link" href="plugins/map/google-map.html">Google map</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="plugins/map/leaflet-map.html">Leaflet map</a>
                        </li>
                      </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/toastr.html">Toastr</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/owl-carousel.html">Owl carousel</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/perfect-scrollbar.html">Perfect scrollbar</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/progressbar.html">Progressbar</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/raty.html">Raty</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/select2.html">Select2</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/tinymce.html">Tinymce</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="plugins/typed-text.html">Typed text</a>
                    </li>
                  </ul>
                </li>
              </ul>
              <div class="navbar-vertical-divider">
                <hr class="navbar-vertical-hr my-2" />
              </div>
              <ul class="navbar-nav flex-column">
                <li class="nav-item"><a class="nav-link dropdown-indicator" href="#documentation" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="documentation">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-book"></span></span><span class="nav-link-text">Documentation</span>
                    </div>
                  </a>
                  <ul class="nav collapse" id="documentation" data-parent="#navbarVerticalCollapse">
                    <li class="nav-item"><a class="nav-link" href="documentation/getting-started.html">Getting started</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/file-structure.html">File structure</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/customization.html">Customization</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/dark-mode.html">Dark mode</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/fluid-layout.html">Fluid layout</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/gulp.html">Gulp</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/RTL.html">RTL</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="documentation/plugins.html">Plugins</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item"><a class="nav-link" href="changelog.html">
                    <div class="d-flex align-items-center"><span class="nav-link-icon"><span class="fas fa-code-branch"></span></span><span class="nav-link-text"> Changelog</span><span class="badge badge-pill ml-2 badge-soft-primary">v2.8.1</span>
                    </div>
                  </a></li>
              </ul>
              <div class="settings px-3 px-xl-0">
                <div class="navbar-vertical-divider px-0">
                  <hr class="navbar-vertical-hr my-3" />
                </div><a class="btn btn-sm btn-block btn-purchase mb-3" href="https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/">
                  Purchase</a>
              </div>
            </div>
          </div>
        </nav>
        <div class="content">
          <nav class="navbar navbar-light navbar-glass navbar-top sticky-kit navbar-expand">

            <button class="btn navbar-toggler-humburger-icon navbar-toggler mr-1 mr-sm-3" type="button" data-toggle="collapse" data-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
            <a class="navbar-brand mr-1 mr-sm-3" href="{% url 'dashboard' %}">
              <div class="d-flex align-items-center"><img class="mr-2" src="{% static 'img/illustrations/falcon.png' %}" alt="" width="40" /><span class="text-sans-serif">falcon</span>
              </div>
            </a>
            <ul class="navbar-nav align-items-center d-none d-lg-block">
              <li class="nav-item">
                <div class="search-box">
                  <form class="position-relative" data-toggle="search" data-display="../static">

                    <input class="form-control search-input" type="search" placeholder="Search..." aria-label="Search" />
                    <span class="fas fa-search search-box-icon"></span>

                  </form>

                  <button class="close" type="button" data-dismiss="search"><span class="fas fa-times"></span></button>
                  <div class="dropdown-menu">
                    <div class="scrollbar perfect-scrollbar py-3" style="height: 24rem;">
                      <h6 class="dropdown-header px-card pt-0 pb-2">Recently Browsed</h6>
                      <a class="dropdown-item fs--1 px-card py-1 hover-primary" href="pages/events.html">
                        <div class="d-flex align-items-center">
                          <span class="fas fa-circle mr-2 text-300 fs--2"></span>

                          <div class="font-weight-normal">Pages <span class="fas fa-chevron-right mx-1 text-500 fs--2" data-fa-transform="shrink-2"></span> Events</div>
                        </div>
                      </a>
                      <a class="dropdown-item fs--1 px-card py-1 hover-primary" href="e-commerce/customers.html">
                        <div class="d-flex align-items-center">
                          <span class="fas fa-circle mr-2 text-300 fs--2"></span>

                          <div class="font-weight-normal">E-commerce <span class="fas fa-chevron-right mx-1 text-500 fs--2" data-fa-transform="shrink-2"></span> Customers</div>
                        </div>
                      </a>

                      <hr class="border-200" />
                      <h6 class="dropdown-header px-card pt-0 pb-2">Suggested Filter</h6>
                      <a class="dropdown-item px-card py-1 fs-0" href="e-commerce/customers.html">
                        <div class="d-flex align-items-center"><span class="badge font-weight-medium text-decoration-none mr-2 badge-soft-warning">customers:</span>
                          <div class="flex-1 fs--1">All customers list</div>
                        </div>
                      </a>
                      <a class="dropdown-item px-card py-1 fs-0" href="pages/events.html">
                        <div class="d-flex align-items-center"><span class="badge font-weight-medium text-decoration-none mr-2 badge-soft-success">events:</span>
                          <div class="flex-1 fs--1">Latest events in current month</div>
                        </div>
                      </a>
                      <a class="dropdown-item px-card py-1 fs-0" href="e-commerce/product-grid.html">
                        <div class="d-flex align-items-center"><span class="badge font-weight-medium text-decoration-none mr-2 badge-soft-info">products:</span>
                          <div class="flex-1 fs--1">Most popular products</div>
                        </div>
                      </a>

                      <hr class="border-200" />
                      <h6 class="dropdown-header px-card pt-0 pb-2">Files</h6>
                      <a class="dropdown-item px-card py-2" href="#!">
                        <div class="d-flex align-items-center">
                          <div class="file-thumbnail mr-2"><img class="border h-100 w-100 fit-cover rounded-lg" src="{% static 'img/products/3-thumb.png' %}" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0">iPhone</h6>
                            <p class="fs--2 mb-0"><span class="font-weight-semi-bold">Antony</span><span class="font-weight-medium text-600 ml-2">27 Sep at 10:30 AM</span></p>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item px-card py-2" href="#!">
                        <div class="d-flex align-items-center">
                          <div class="file-thumbnail mr-2"><img class="img-fluid" src="{% static 'img/icons/zip.png' %}" alt="" /></div>
                          <div class="flex-1">
                            <h6 class="mb-0">Falcon v1.8.2</h6>
                            <p class="fs--2 mb-0"><span class="font-weight-semi-bold">John</span><span class="font-weight-medium text-600 ml-2">30 Sep at 12:30 PM</span></p>
                          </div>
                        </div>
                      </a>

                      <hr class="border-200" />
                      <h6 class="dropdown-header px-card pt-0 pb-2">Members</h6>
                      <a class="dropdown-item px-card py-2" href="pages/profile.html">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-l status-online mr-2">
                            <img class="rounded-circle" src="{% static 'img/team/1.jpg' %}" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0">Anna Karinina</h6>
                            <p class="fs--2 mb-0">Technext Limited</p>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item px-card py-2" href="pages/profile.html">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-l mr-2">
                            <img class="rounded-circle" src="{% static 'img/team/2.jpg' %}" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0">Antony Hopkins</h6>
                            <p class="fs--2 mb-0">Brain Trust</p>
                          </div>
                        </div>
                      </a>
                      <a class="dropdown-item px-card py-2" href="pages/profile.html">
                        <div class="d-flex align-items-center">
                          <div class="avatar avatar-l mr-2">
                            <img class="rounded-circle" src="{% static 'img/team/3.jpg' %}" alt="" />

                          </div>
                          <div class="flex-1">
                            <h6 class="mb-0">Emma Watson</h6>
                            <p class="fs--2 mb-0">Google</p>
                          </div>
                        </div>
                      </a>

                    </div>
                  </div>
                </div>
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-icons ml-auto flex-row align-items-center">
              <li class="nav-item dropdown dropdown-on-hover">
                <a class="nav-link notification-indicator notification-indicator-primary px-0 icon-indicator" id="navbarDropdownNotification" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-bell fs-4" data-fa-transform="shrink-6"></span></a>
                <div class="dropdown-menu dropdown-menu-right dropdown-menu-card" aria-labelledby="navbarDropdownNotification">
                  <div class="card card-notification shadow-none" style="max-width: 20rem">
                    <div class="card-header">
                      <div class="row justify-content-between align-items-center">
                        <div class="col-auto">
                          <h6 class="card-header-title mb-0">Notifications</h6>
                        </div>
                        <div class="col-auto"><a class="card-link font-weight-normal" href="#">Mark all as read</a></div>
                      </div>
                    </div>
                    <div class="list-group list-group-flush font-weight-normal fs--1">
                      <div class="list-group-title border-bottom">NEW</div>
                      <div class="list-group-item">
                        <a class="notification notification-flush bg-200" href="#!">
                          <div class="notification-avatar">
                            <div class="avatar avatar-2xl mr-3">
                              <img class="rounded-circle" src="{% static 'img/team/1-thumb.png' %}" alt="" />

                            </div>
                          </div>
                          <div class="notification-body">
                            <p class="mb-1"><strong>Emma Watson</strong> replied to your comment : "Hello world 😍"</p>
                            <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">💬</span>Just now</span>

                          </div>
                        </a>

                      </div>
                      <div class="list-group-item">
                        <a class="notification notification-flush bg-200" href="#!">
                          <div class="notification-avatar">
                            <div class="avatar avatar-2xl mr-3">
                              <div class="avatar-name rounded-circle"><span>AB</span></div>
                            </div>
                          </div>
                          <div class="notification-body">
                            <p class="mb-1"><strong>Albert Brooks</strong> reacted to <strong>Mia Khalifa's</strong> status</p>
                            <span class="notification-time"><span class="mr-1 fab fa-gratipay text-danger"></span>9hr</span>

                          </div>
                        </a>

                      </div>
                      <div class="list-group-title">EARLIER</div>
                      <div class="list-group-item">
                        <a class="notification notification-flush" href="#!">
                          <div class="notification-avatar">
                            <div class="avatar avatar-2xl mr-3">
                              <img class="rounded-circle" src="{% static 'img/icons/weather-sm.jpg' %}" alt="" />

                            </div>
                          </div>
                          <div class="notification-body">
                            <p class="mb-1">The forecast today shows a low of 20&#8451; in California. See today's weather.</p>
                            <span class="notification-time"><span class="mr-1" role="img" aria-label="Emoji">🌤️</span>1d</span>

                          </div>
                        </a>

                      </div>
                    </div>
                    <div class="card-footer text-center border-top"><a class="card-link d-block" href="pages/notifications.html">View all</a></div>
                  </div>
                </div>

              </li>
              <li class="nav-item dropdown dropdown-on-hover"><a class="nav-link pr-0" id="navbarDropdownUser" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <div class="avatar avatar-xl">
                    <img class="rounded-circle" src="{% static 'img/team/3-thumb.png' %}" alt="" />

                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right py-0" aria-labelledby="navbarDropdownUser">
                  <div class="bg-white rounded-soft py-2">
                    <a class="dropdown-item" href="{% url 'settings' %}">Settings</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </nav>

          {% block content %}{% endblock %}
          
        </div>

          {% block modals %}{% endblock %}
        
      </div>
    </main>
    <!-- ===============================================-->
    <!--    End of Main Content-->
    <!-- ===============================================-->




    <!-- ===============================================-->
    <!--    JavaScripts-->
    <!-- ===============================================-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'lib/@fortawesome/all.min.js' %}"></script>
    <script src="{% static 'lib/stickyfilljs/stickyfill.min.js' %}"></script>
    <script src="{% static 'lib/sticky-kit/sticky-kit.min.js' %}"></script>
    <script src="{% static 'lib/is_js/is.min.js' %}"></script>
    <script src="{% static 'lib/lodash/lodash.min.js' %}"></script>
    <script src="{% static 'lib/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700%7cPoppins:100,200,300,400,500,600,700,800,900&amp;display=swap" rel="stylesheet">
    <script src="{% static 'lib/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'lib/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'lib/datatables-bs4/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'lib/datatables.net-responsive-bs4/responsive.bootstrap4.js' %}"></script>
    <script src="{% static 'lib/shopify-draggable/draggable.bundle.legacy.js' %}"></script>
    <script src="{% static 'lib/leaflet/leaflet.js' %}"></script>
    <script src="{% static 'lib/leaflet.markercluster/leaflet.markercluster.js' %}"></script>
    <script src="{% static 'lib/leaflet.tilelayer.colorfilter/leaflet-tilelayer-colorfilter.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'lib/flatpickr/flatpickr.min.js' %}"></script>

    {% block javascript %}{% endblock %}

  </body>

</html>